body{
  font-size: large;
}
#maintable{
  border: 0;
  text-align: center;
}
img{
  width: 300px;
  height: 300px;
}
#subtable{
  border: 0;
  text-align: center;
}
.name{
  font-size: 30px;
}
.hand{
  width: 400px;
  height: 400px;
}
.jankennbutton{
  font-size: 30px;
}
.background-color-white{
  background-color: #000000;
}
#message{
  color: #FFFFFF;
  font-size: 30px;
}
#jankenslack{
  margin-left: 250px;
}